@page
@model CalorieCounter.Pages.Foods.CreateModel


<h1>Create new Food</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.Name" class="control-label" title="Food Name"></label>
                <input asp-for="Food.Name" class="form-control" type="text" minlength=1 />
                <span asp-validation-for="Food.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Calories" class="control-label"></label>
                <input asp-for="Food.Calories" class="form-control" type="number" step="0.01" min="0"/>
                <span asp-validation-for="Food.Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Protein" class="control-label"></label>
                <input asp-for="Food.Protein" class="form-control" type="number" step="0.01" min="0"/>
                <span asp-validation-for="Food.Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Carbo" class="control-label" title="Carbohidrates"></label>
                <input asp-for="Food.Carbo" class="form-control" type="number" step="0.01" min="0"/>
                <span asp-validation-for="Food.Carbo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Fats" class="control-label"></label>
                <input asp-for="Food.Fats" class="form-control" type="number" step="0.01" min="0"/>
                <span asp-validation-for="Food.Fats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Fibers" class="control-label"></label>
                <input asp-for="Food.Fibers" class="form-control" type="number" step="0.01" min="0"/>
                <span asp-validation-for="Food.Fibers" class="text-danger"></span>
            </div>
            <div class="form-group" style = "padding-top:10px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="right: 25px; padding-top: 10px;" class="text-white">
    <a class="btn btn-light" asp-page="Index">Back to List</a>
</div>
