@page "{id}"
@model CalorieCounter.Pages.Foods.DeleteModel

<h4>Delete Confirmation</h4>

<div class="alert alert-danger">
    <h5>Are you sure you want to delete @Model.FoodToDelete.Name ?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Foods/Index">No</a>
    </form>
</div>
