@page "/"
@using CalorieCounter.Data.Enums
@model CalorieCounter.Pages.FoodDashes.CreateModel


<h1>Create new Food</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group" style = "padding-top:10px">
                <input type="submit" value="Start Your Day" class="btn btn-primary" asp-page="/FoodDashes/Create/" />
            </div>
        </form>
    </div>
</div>