@page
@model CalorieCounter.Pages.FoodsToAdd.DeleteModel

<h4>Delete Confirmation</h4>

<div class="alert alert-danger">
    <h5>Are you sure you want to delete @Model.FoodToDelete.Food.Name ?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger" >Yes</button>
        <a class="btn btn-primary" asp-page="/FoodDashes/Details" asp-route-id="@Model.FoodToDelete.DashId">No</a>
    </form>
</div>